@model Settings
@{
    ViewData["Title"] = "Feed";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <select name="Url" class="form-control select_send">
        @foreach (var feed in Model.Urls)
        {
            <option value="@feed">@feed</option>
        }
    </select>
}
<div class="feed">
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            loadFeed();
            setInterval('loadFeed()', @(Model.UpdateFrequency * 1000)); 
        });
        $('.select_send').on('change', function () {
            loadFeed();
        });
        function loadFeed() {
            $.ajax({
                async: false,
                method: "POST",
                url: "/Home/Feed",
                data: {
                    Url: $('select').val()
                },
                success: function (response) {
                    $(".feed").html(response);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr);
                },
            });
        }
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}